{% extends "jagruti/base.html" %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">




<section class="forgot-password" style="background: url('/static/images/bg.jpg');min-height:90vh;padding-top:10vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Password Reset</h2>
                        <p class="text-center">Please enter your new password to reset.</p>
                        <form method="post" action="{% url 'fp'%}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" class="form-control" id="newPassword" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
